
<h2 class=comTitle><{$title}></h2>

<table class='outer' >
<tr class="odd">
<td><{$oscgiv_assignedenvelopes}></td><td><{$assignedenvelopes}></td>
</tr>
<tr class="even">
<td><{$oscgiv_activeenvelopes}></td><td><{$activeenvelopes}></td>
</tr>
<tr class="odd">
<TD><{$oscgiv_highestenvelopenumber}></TD><td><{$highestenvelope}>
</td>
</tr>

</table>
<table align="center" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<td>
			<br><br>
			<a href="Reports/DonationEnvelopeList.php">Display a list of all envelope assignments</a><br><br>
			<a href="DonationEnvelopes.php?Mode=cartadd"><{$oscgiv_autoassignevelopeslink}></a><br><br>
			<a href="DonationEnvelopesReassign.php?Mode=request"><{$oscgiv_reassignenvelopeslink}></a>
		</td>
	</tr>
</table>


